<% for(let i = 0; i < containers.length; ++i) { %>


    <section id="<%=containers[i].id%>" class="container-card-simple">

        <header>
            <h4><%= containers[i].name %></h4>
            <section>
                <button class="open-button">Delete</button>
                <section class="overlay hidden">
                    <form id="<%=containers[i].id%>" class="card-delete-container-form">
                        <button type="button" class="close-button">x</button>
    
                        <h2>Are you sure you want to delete this?</h2>
    
                        <button type="submit">Delete</button>
    
                    </form>
                </section>
            </section>
        </header>


        <p><%=containers[i].description%></p>

        <a class="view-button" href="/storage/container/<%=containers[i]._id%>">View Container</a>

    </section>


<% } %>