<% for(let i = 0; i < items.length; ++i) { %>

    <section id="<%=items[i]._id%>" class="items-card-detailed">

        <h2><%=items[i].name%></h2>

        <section>
            <p><%=items[i].quantity%></p>
            <p><%=items[i].estimatedValue%></p>
            <p><%=items[i].length%> x <%=items[i].width%> x <%=items[i].height%></p>
        </section>

        <section>
            <div>
                <button>Edit items</button>
            </div>
            <div>
                <button>Move items</button>
            </div>
            <div>
                <button>Delete items</button>
            </div>
        </section>

        <section>
            <p><%=items[i].description%></p>
        </section>

    </section>

<% } %>