<% for(let i = 0; i < items.length; ++i) { %>

    <section id="<%=items[i].id%>" class="item-card-simple">

        <header>
            <h4><%= items[i].name %></h4>

            <section>
                <button class="open-button">Delete</button>
                <section class="overlay hidden">
                    <form id="<%=items[i].id%>" class="card-delete-item-form">
                        <button type="button" class="close-button">x</button>

                        <h2>Are you sure you want to delete this?</h2>

                        <button type="submit">Delete</button>

                    </form>
                </section>
            </section>
        </header>

        <p><%= items[i].description %></p>

        <a class="view-button" href="/storage/item/<%=items[i]._id%>">View Item</a>

    </section>

<% } %>