<% for(let i = 0; i < locations.length; ++i) { %>

    <section id="<%=locations[i].id%>" class="location-card-simple">

        <header>
            <h4><%=locations[i].name%></h4>

            <section>
                <button class="open-button">Delete</button>
                <section class="overlay hidden">
                    <form id="<%=locations[i].id%>" class="card-delete-location-form">
                        <button type="button" class="close-button">x</button>
    
                        <h2>Are you sure you want to delete this?</h2>
    
                        <button type="submit">Delete</button>
    
                    </form>
                </section>
            </section>
        </header>


        <section>
            <span>Description:</span>
            <p><%=locations[i].description%></p>
        </section>

        <a class="view-button" href="/storage/location/<%=locations[i]._id%>">View Location</a>

    </section>

<% } %>