<% for(let i = 0; i < locations.length; ++i) { %>

    <section class="storage-location-card" id="<%=locations[i]._id%>">

        <h2 class="location-name"><%=locations[i].name%></h2>

        <p class="location-dimensions"><%=locations[i].length%> x <%=locations[i].length%> x <%=locations[i].length%></p>

        <section class="location-description">
            <h3>Description:</h3>
            <p><%=locations[i].description%></p>
        </section>

        <section class="location-options">
            <section class="location-edit-container">
                <button type="button">Edit Location</button>
                <form class="update-storage-location-form hidden" action="/api/storage/create/StorageLocation" method="POST">
                    <h2>Update this storage location</h2>
        
                    <section>
                        <label for="name">Name:</label>
                        <input type="text" id="location-name-update" name="name" placeholder="Enter name here" value="<%=locations[i].name%>" required>
                    </section>
        
                    <section>
                        <label for="description">Description:</label>
                        <input type="text" id="location-description-update" name="description" placeholder="Enter description here" value="<%=locations[i].description%>" required>
                    </section>
        
                    <section>
                        <label for="">Length:</label>
                        <input type="text" id="location-length-update" name="length" placeholder="Enter length here" value="<%=locations[i].length%>" required>
                    </section>
        
                    <section>
                        <label for="">Width:</label>
                        <input type="text" id="location-width-update" name="width" placeholder="Enter width here" value="<%=locations[i].width%>" required>
                    </section>
        
                    <section>
                        <label for="">Height:</label>
                        <input type="text" id="location-height-update" name="height" placeholder="Enter height here" value="<%=locations[i].height%>" required>
                    </section>
        
                    <section>
                        <button type="submit">Update</button>
                        <button type="reset">Reset</button>
                    </section>
                </form>
            </section>
            <section class="location-delete-container">
                <button type="button">Delete Location</button>
            </section>
            <section class="location-addto-container">
                <button type="button">Add to Location</button>
                <section class="hidden">
                    <select>
                        <option value="container">Container</option>
                        <option value="item">Item</option>
                    </select>

                    <form id="item" class="add-item-to-storage-location-form" action="/api/storage/add/StorageLocation" method="PUT">
                        <h2>Add item to this storage location</h2>
            
                        <section>
                            <label for="name">Name:</label>
                            <input type="text" id="item-name" name="name" placeholder="Enter name here" required>
                        </section>
            
                        <section>
                            <label for="description">Description:</label>
                            <input type="text" id="item-description" name="description" placeholder="Enter description here" required>
                        </section>
    
                        <section>
                            <label for="quantity">Quantity:</label>
                            <input type="text" id="item-quantity" name="name" placeholder="Enter quantity here" required>
                        </section>
    
                        <section>
                            <label for="value">Estimated Value:</label>
                            <input type="text" id="item-value" name="value" placeholder="Enter value here" required>
                        </section>
            
                        <section>
                            <label for="">Length:</label>
                            <input type="text" id="item-length" name="length" placeholder="Enter length here" required>
                        </section>
            
                        <section>
                            <label for="">Width:</label>
                            <input type="text" id="item-width" name="width" placeholder="Enter width here" required>
                        </section>
            
                        <section>
                            <label for="">Height:</label>
                            <input type="text" id="item-height" name="height" placeholder="Enter height here" required>
                        </section>
            
                        <section>
                            <button type="submit">Create</button>
                            <button type="reset">Reset</button>
                        </section>
                    </form>

                    <form id="container" class="add-container-to-storage-location-form" action="/api/storage/add/StorageLocation" method="PUT">
                        <h2>Add container to this storage location</h2>
            
                        <section>
                            <label for="name">Name:</label>
                            <input type="text" id="container-name" name="name" placeholder="Enter name here" required>
                        </section>
            
                        <section>
                            <label for="description">Description:</label>
                            <input type="text" id="container-description" name="description" placeholder="Enter description here" required>
                        </section>
            
                        <section>
                            <label for="length">Length:</label>
                            <input type="text" id="container-length" name="length" placeholder="Enter length here" required>
                        </section>
            
                        <section>
                            <label for="width">Width:</label>
                            <input type="text" id="container-width" name="width" placeholder="Enter width here" required>
                        </section>
            
                        <section>
                            <label for="height">Height:</label>
                            <input type="text" id="container-height" name="height" placeholder="Enter height here" required>
                        </section>
            
                        <section>
                            <button type="submit">Create</button>
                            <button type="reset">Reset</button>
                        </section>
                    </form>

                </section>
            </section>
        </section>

        <sections class="location-contents-container">
            <button type="button">View Contents</button>
            <section class="location-contents">
                <h3>Contents:</h3>
            </section>
        </sections>

    </section>

<% } %>