<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- Logo at top -->

    <!-- Nav at top on webpage version, hidden with button on mobile probably -->
    <%- include("./partials/navbar.ejs") %>

    <!-- Dynamic Contents -->
    <main>
        <!-- Route to container ending with underlined name of container, routes are hrefs to other containers -->
        <section>
            <a href="<%=container.parent.type%>/<%=container.parent.id%>">Back to Parent</a>

            <h1><%=container.name%></h1>
        </section>

        <!-- Container information with edit, move, and delete buttons -->
        <section>
            <section>
                <p><%=container.length%> x <%=container.width%> x <%=container.height%></p>
                <p><%=container.description%></p>
            </section>

            <section>
                <!-- Button will open a card in the center of the screen with relevant form -->
                <section>
                    <button>Edit</button>
                </section>

                <section>
                    <button>Move</button>
                </section>

                <section>
                    <button>Delete</button>
                </section>
            </section>

        </section>

        <!-- Container contents with simple cards that link to child page with add button -->
        <section>
            <h2>Contents</h2>
            <section>
                <h3>Containers</h3>

                <section>
                    <%- include("./partials/container-card-simple.ejs") %>
                </section>
            </section>

            <section>
                <h3>Items</h3>

                <section>
                    <%- include("./partials/item-card-simple.ejs") %>
                </section>
            </section>

        </section>
    </main>
    
</body>
</html>