<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=item.name%></title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/view.css">
</head>
<body id="<%=item.id%>">

    <!--Navbar/header-->
    <%- include("./partials/navbar.ejs") %>

    <main>
        <section>
            <!-- Back button to parent element -->
            <a class="back-button" href="/<%=item.parent.type%>/<%=item.parent.id%>"> < <span>Back to parent</span></a>
            <!-- Route ending in item name -->
            <h1><%=item.name%></h1>
        </section>

        <!-- Edit, delete, and move buttons -->
        <section class="options"> <!--Forms handled by js-->

            <section>
                <button class="edit-item-button">Edit</button>
                <section class="overlay edit-item-form-container">
                    <form class="edit-item-form hidden" action="/api/storage/item/update" method="PUT">

                        <section>
                            <label for="name">Name:</label>
                            <input type="text" id="item-name" name="name" placeholder="Enter name here" value="<%=item.name%>" required>
                        </section>
            
                        <section>
                            <label for="description">Description:</label>
                            <input type="text" id="item-description" name="description" placeholder="Enter description here" value="<%=item.description%>" required>
                        </section>

                        <section>
                            <label for="quantity">Quantity:</label>
                            <input type="text" id="item-quantity" name="name" placeholder="Enter quantity here" value="<%=item.quantity%>" required>
                        </section>

                        <section>
                            <label for="value">Estimated Value:</label>
                            <input type="text" id="item-value" name="value" placeholder="Enter value here" value="<%=item.estimatedValue%>" required>
                        </section>
            
                        <section>
                            <label for="">Length:</label>
                            <input type="text" id="item-length" name="length" placeholder="Enter length here" value="<%=item.length%>" required>
                        </section>
            
                        <section>
                            <label for="">Width:</label>
                            <input type="text" id="item-width" name="width" placeholder="Enter width here" value="<%=item.width%>" required>
                        </section>
            
                        <section>
                            <label for="">Height:</label>
                            <input type="text" id="item-height" name="height" placeholder="Enter height here" value="<%=item.height%>" required>
                        </section>
            
                        <section>
                            <button type="submit">Update</button>
                            <button type="reset">Reset</button>
                        </section>

                    </form>

                </section>
            </section>

            <section>
                <button class="move-item-button">Move</button>
                <section class="overlay move-item-form-container">
                    <form class="move-item-form hidden" action="/api/storage/item/move" method="PUT"> 
                        <h3>Choose a new place to store this item</h3>

                        <% if(destinations.length > 0) {%>
                            <select class="destination">
                                <% for(let i = 0; i < destinations.length; ++ i) { %>
                                    <option id="<%=destinations[i].id%>" name="<%=destinations[i].type%>"><%=destinations[i].name%></option>
                                <% } %>
                            </select>
                        <% }else{ %>
                            <p>No other destinations found</p>
                        <% } %>

                        <section>
                            <button type="submit">Submit</button>
                        </section>
                    </form>
                </section>
            </section>

            <section>
                <button class="delete-item-button">Delete</button>
                <section class="overlay delete-item-form-container">
                    <form class="delete-item-form hidden" action="/api/storage/item/delete" method="DELETE">
                        <h2>Are you sure you want to delete this item?</h2>
                        <button type="submit">Confirm Deletion</button>                    
                    </form>
                </section>
            </section>

        </section>

        <!-- Item information -->
        <section>
            <h2>Item Information</h2>

            <section class="info-container">
                <h4>Description</h4>
                <p><%=item.description%></p>
            </section>

            <section class="info-container">
                <h4>Quantity</h4>
                <p><%=item.quantity%></p>
            </section>

            <section class="info-container">
                <h4>Estimated Value</h4>
                <p><%=item.estimatedValue%></p>
            </section>

            <section class="info-container">
                <h4>Dimensions</h4>
                <p><%=item.length%> x <%=item.width%> x <%=item.height%></p>
            </section>

        </section>
    </main>
    
    <script src="/js/item-view.js"></script>
    <script src="/js/logout.js"></script>
</body>
</html>
