<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storage</title>
</head>
<body>

    <h1>Storage</h1>

    <section class="storage-location-display">

        <% if(locations) {%>

            <% for(let i = 0; i < locations.length; ++i) { %>
                <ul id="<%=locations[i]._id%>">
                    <li>
                        <span>Name: <%=locations[i].name%></span>
                    </li>
                    <li>
                        <span>Description: <%=locations[i].description%></span>
                    </li>
                    <li>
                        <span>Length: <%=locations[i].length%></span>
                    </li>
                    <li>
                        <span>Width: <%=locations[i].width%></span>
                    </li>
                    <li>
                        <span>Height: <%=locations[i].height%></span>
                    </li>
                </ul>

            <% } %>

        <% } else { %>
            <h2>No locations</h2>
        <% } %>

        <form class="create-storage-location-form" action="/api/storage/create/StorageLocation" method="POST">
            <h2>Create new storage location</h2>

            <section>
                <label for="name">Name:</label>
                <input type="text" id="location-name" name="name" placeholder="Enter name here" required>
            </section>

            <section>
                <label for="description">Description:</label>
                <input type="text" id="location-description" name="description" placeholder="Enter description here" required>
            </section>

            <section>
                <label for="">Length:</label>
                <input type="text" id="location-length" name="length" placeholder="Enter length here" required>
            </section>

            <section>
                <label for="">Width:</label>
                <input type="text" id="location-width" name="width" placeholder="Enter width here" required>
            </section>

            <section>
                <label for="">Height:</label>
                <input type="text" id="location-height" name="height" placeholder="Enter height here" required>
            </section>

            <section>
                <button type="submit">Create</button>
                <button type="reset">Reset</button>
            </section>
        </form>

    </section>

    <section class="storage-container-display">

        <% if(containers) { %>

            <% for(let i = 0; i < containers.length; ) { %>
                <ul id="<%=containers[i]._id%>">
                    <li>
                        <span>Name: <%=containers[i].name%></span>
                    </li>
                    <li>
                        <span>Description: <%=containers[i].description%></span>
                    </li>
                    <li>
                        <span>Length: <%=containers[i].length%></span>
                    </li>
                    <li>
                        <span>Width: <%=containers[i].width%></span>
                    </li>
                    <li>
                        <span>Height: <%=containers[i].height%></span>
                    </li>
                </ul>

            <% } %>

        <% } else { %>
            <h2>No containers</h2>
        <% } %>

    </section>

    <section class="storage-item-display">

        <% if(items) { %>

            <% for(let i = 0; i < items.length; ) { %>
                <ul id="<%=items[i]._id%>">
                    <li>
                        <span>Name: <%=items[i].name%></span>
                    </li>
                    <li>
                        <span>Description: <%=items[i].description%></span>
                    </li>
                    <li>
                        <span>Quantity: <%=items[i].quantity%></span>
                    </li>
                    <li>
                        <span>Estimated Value: <%=items[i].estimatedValue%></span>
                    </li>
                    <li>
                        <span>Length: <%=items[i].length%></span>
                    </li>
                    <li>
                        <span>Width: <%=items[i].width%></span>
                    </li>
                    <li>
                        <span>Height: <%=items[i].height%></span>
                    </li>
                </ul>

            <% } %>

        <% } else { %>
            <h2>No locations</h2>
        <% } %>

    </section>
    
    <script src="/js/storage.js"></script>
</body>
</html>