<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=location.name%></title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/location.css">
</head>
<body id="<%=location._id%>">

    <%- include("./partials/navbar.ejs") %>

    <main>

        <header class="location-header">
            <section class="location-header-info">
                <h1><%=location.name%></h1>
                <p><%=location.description%></p>
            </section>
            <section class="location-header-options">
                <div>
                    <button class="open-update-storage-location-button">Edit this Location</button>
                    <form class="update-storage-location-form hidden" action="/api/storage/create/StorageLocation" method="POST">
                        <h2>Update this storage location</h2>
            
                        <section>
                            <label for="name">Name:</label>
                            <input type="text" id="location-name-update" name="name" placeholder="Enter name here" value="<%=location.name%>" required>
                        </section>
            
                        <section>
                            <label for="description">Description:</label>
                            <input type="text" id="location-description-update" name="description" placeholder="Enter description here" value="<%=location.description%>" required>
                        </section>
            
                        <section>
                            <label for="">Length:</label>
                            <input type="text" id="location-length-update" name="length" placeholder="Enter length here" value="<%=location.length%>" required>
                        </section>
            
                        <section>
                            <label for="">Width:</label>
                            <input type="text" id="location-width-update" name="width" placeholder="Enter width here" value="<%=location.width%>" required>
                        </section>
            
                        <section>
                            <label for="">Height:</label>
                            <input type="text" id="location-height-update" name="height" placeholder="Enter height here" value="<%=location.height%>" required>
                        </section>
            
                        <section>
                            <button type="submit">Update</button>
                            <button type="reset">Reset</button>
                        </section>
                    </form>
                </div>
                <div>
                    <button>Delete this Location</button>
                </div>
            </section>
        </header>

        <section>

            <header>
                <h2>Containers:</h2>
                <div>
                    <button>Add new</button>
                    <form id="container" class="add-container-to-storage-location-form" action="/api/storage/add/StorageLocation" method="PUT">
                        <h2>Add container to this storage location</h2>
            
                        <section>
                            <label for="name">Name:</label>
                            <input type="text" id="container-name" name="name" placeholder="Enter name here" required>
                        </section>
            
                        <section>
                            <label for="description">Description:</label>
                            <input type="text" id="container-description" name="description" placeholder="Enter description here" required>
                        </section>
            
                        <section>
                            <label for="length">Length:</label>
                            <input type="text" id="container-length" name="length" placeholder="Enter length here" required>
                        </section>
            
                        <section>
                            <label for="width">Width:</label>
                            <input type="text" id="container-width" name="width" placeholder="Enter width here" required>
                        </section>
            
                        <section>
                            <label for="height">Height:</label>
                            <input type="text" id="container-height" name="height" placeholder="Enter height here" required>
                        </section>
            
                        <section>
                            <button type="submit">Create</button>
                            <button type="reset">Reset</button>
                        </section>
                    </form>
                </div>
            </header>

            <section class="container-display">

                <!--EJS Include-->
                <%- include("./partials/container-card-simple.ejs") %>

            </section>

        </section>


        <section class="item-display">

            <header>
                <h2>Items:</h2>
                <div>
                    <button>Add new</button>
                    <form id="item" class="add-item-to-storage-location-form" action="/api/storage/add/StorageLocation" method="PUT">
                        <h2>Add item to this storage location</h2>
            
                        <section>
                            <label for="name">Name:</label>
                            <input type="text" id="item-name" name="name" placeholder="Enter name here" required>
                        </section>
            
                        <section>
                            <label for="description">Description:</label>
                            <input type="text" id="item-description" name="description" placeholder="Enter description here" required>
                        </section>
    
                        <section>
                            <label for="quantity">Quantity:</label>
                            <input type="text" id="item-quantity" name="name" placeholder="Enter quantity here" required>
                        </section>
    
                        <section>
                            <label for="value">Estimated Value:</label>
                            <input type="text" id="item-value" name="value" placeholder="Enter value here" required>
                        </section>
            
                        <section>
                            <label for="">Length:</label>
                            <input type="text" id="item-length" name="length" placeholder="Enter length here" required>
                        </section>
            
                        <section>
                            <label for="">Width:</label>
                            <input type="text" id="item-width" name="width" placeholder="Enter width here" required>
                        </section>
            
                        <section>
                            <label for="">Height:</label>
                            <input type="text" id="item-height" name="height" placeholder="Enter height here" required>
                        </section>
            
                        <section>
                            <button type="submit">Create</button>
                            <button type="reset">Reset</button>
                        </section>
                    </form>
                </div>
            </header>

            <section>

                <!--EJS Include-->
                <%- include("./partials/item-card-detailed.ejs") %>

            </section>

        </section>

    </main>
    
<script src="/js/location.js"></script>
</body>
</html>