<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=location.name%></title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/view.css">
</head>
<body id="<%=location._id%>">

    <%- include("./partials/navbar.ejs") %>

    <main>

        <section class="location-header-info">
            <a href="/dashboard">Back to locations</a>
            <h1><%=location.name%></h1>
        </section>

        <section class="options">
            <section>
                <button class="update-location-button">Edit this Location</button>
                <form class="update-location-form hidden" action="/api/storage/create/StorageLocation" method="POST">
                    <h2>Update this storage location</h2>
            
                    <section>
                        <label for="name">Name:</label>
                        <input type="text" id="location-name-update" name="name" placeholder="Enter name here" value="<%=location.name%>" required>
                    </section>
            
                    <section>
                        <label for="description">Description:</label>
                        <input type="text" id="location-description-update" name="description" placeholder="Enter description here" value="<%=location.description%>" required>
                    </section>
            
                    <section>
                        <label for="length">Length:</label>
                        <input type="text" id="location-length-update" name="length" placeholder="Enter length here" value="<%=location.length%>" required>
                    </section>
            
                    <section>
                        <label for="width">Width:</label>
                        <input type="text" id="location-width-update" name="width" placeholder="Enter width here" value="<%=location.width%>" required>
                    </section>
            
                    <section>
                        <label for="height">Height:</label>
                        <input type="text" id="location-height-update" name="height" placeholder="Enter height here" value="<%=location.height%>" required>
                    </section>
            
                    <section>
                        <button type="submit">Update</button>
                        <button type="reset">Reset</button>
                    </section>
                </form>
            </section>
            <section>
                <button class="delete-location-button">Delete this Location</button>
                <form class="delete-location-form hidden" action="/api/storage/delete/storageLocation">
                    <h3>Are you sure you want to delete this location and all of its contents?</h3>
                    <button type="submit">Confirm deletion</button>
                </form>
            </section>
        </section>

        <section>
            <p><%=location.description%></p>
        </section>

        <section>
            <h2>Contents</h2>

            <header>
                <h3>Containers:</h3>
                <section class="options">
                    <section>
                        <button class="add-container-button">Add new</button>
                        <form id="container" class="add-container-to-location-form hidden" action="/api/storage/add/StorageLocation" method="PUT">
                            <h2>Add container to this storage location</h2>
                
                            <section>
                                <label for="name">Name:</label>
                                <input type="text" id="container-name" name="name" placeholder="Enter name here" required>
                            </section>
                
                            <section>
                                <label for="description">Description:</label>
                                <input type="text" id="container-description" name="description" placeholder="Enter description here" required>
                            </section>
                
                            <section>
                                <label for="length">Length:</label>
                                <input type="text" id="container-length" name="length" placeholder="Enter length here" required>
                            </section>
                
                            <section>
                                <label for="width">Width:</label>
                                <input type="text" id="container-width" name="width" placeholder="Enter width here" required>
                            </section>
                
                            <section>
                                <label for="height">Height:</label>
                                <input type="text" id="container-height" name="height" placeholder="Enter height here" required>
                            </section>
                
                            <section>
                                <button type="submit">Create</button>
                                <button type="reset">Reset</button>
                            </section>
                        </form>
                    </section>
                </section>
            </header>

            <section>

                <!--EJS Include-->
                <% if(containers.length > 0) { %>
                    <section class="container-display">
                        <%- include("./partials/container-card-simple.ejs") %>
                    </section>
                <% }else{ %>
                    <h6>No containers found</h6>
                <% } %>

            </section>

        </section>


        <section>

            <header>
                <h3>Items:</h3>
                <section class="options">
                    <section>
                        <button class="add-item-button">Add new</button>
                        <form id="item" class="add-item-to-location-form hidden" action="/api/storage/add/StorageLocation" method="PUT">
                            <h2>Add item to this storage location</h2>
                
                            <section>
                                <label for="name">Name:</label>
                                <input type="text" id="item-name" name="name" placeholder="Enter name here" required>
                            </section>
                
                            <section>
                                <label for="description">Description:</label>
                                <input type="text" id="item-description" name="description" placeholder="Enter description here" required>
                            </section>
        
                            <section>
                                <label for="quantity">Quantity:</label>
                                <input type="text" id="item-quantity" name="name" placeholder="Enter quantity here" required>
                            </section>
        
                            <section>
                                <label for="value">Estimated Value:</label>
                                <input type="text" id="item-value" name="value" placeholder="Enter value here" required>
                            </section>
                
                            <section>
                                <label for="">Length:</label>
                                <input type="text" id="item-length" name="length" placeholder="Enter length here" required>
                            </section>
                
                            <section>
                                <label for="">Width:</label>
                                <input type="text" id="item-width" name="width" placeholder="Enter width here" required>
                            </section>
                
                            <section>
                                <label for="">Height:</label>
                                <input type="text" id="item-height" name="height" placeholder="Enter height here" required>
                            </section>
                
                            <section>
                                <button type="submit">Create</button>
                                <button type="reset">Reset</button>
                            </section>
                        </form>
                    </section>
                </section>
            </header>

            <section>

                <!--EJS Include-->
                <% if(items.length > 0) { %>
                    <section class="item-display">
                        <%- include("./partials/item-card-simple.ejs") %>
                    </section>
                <% }else{ %>
                    <h6>No items found</h6>
                <% } %>

            </section>

        </section>

    </main>
    
<script src="/js/location.js"></script>
<script src="/js/logout.js"></script>
</body>
</html>